body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 20px;
}

h1 {
    text-align: center;
    color: darkblue;
    font-size: 32px;
}

h2 {
    color: darkblue;
}

.card {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

img {
    display: block;
    margin: 10px 0;
}

a {
    color: blue;
}